        body{
            background-color: rgb(84, 85, 85);
            color: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vw;
        }
        a{
          color: yellowgreen;
          text-decoration: none;
        }
        li{
          list-style-type: none;
          
        }
        .container{
            background-color: rgb(45, 71, 174);
            color: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vw;
            width: 100%;
        }
        .box{
          background-color: tomato;
          display: flex;
          font-size: 10vw;
          justify-content: center;
          align-items: center;
          width: 33%;
          margin: 0rem 1%;
          height: 30vw;
          /* margin: 0 2rem; */
        }
        .blue{
            color: blue;
        }
        .blueBG{
            background-color: blue;
        }
        .violet{
            color: violet;
        }
        .red{
            color: red;
        }
        .yay{
            color: gold;
        }
        .nay{
            color: tomato;
        }
        